__pycache__/*
gojumper/cpuprof
gojumper/gojumper
gojumper/gojumper.exe
gojumper/neutron-stars.csv
gojumper/stars.json
gojumper/systemsWithCoordinates.json
gojumper/systemsWithCoordinates.json.gz
neutron-stars.csv
stars.json
systemsWithCoordinates.json
systemsWithCoordinates.json.gz
venv/*
gojumper/cpuprof
